/* h1 satırı büyük harf olacak */
h1 {text-transform: uppercase;
    font-size: 40px;
    }
h2 {font-size: 30px;
    }
h3 {font-size: 20px;
    border: solid;
    }
p {font-size: 17px;}

body {
    list-style-position:inside;
    background-color:silver;
    color: black;
    text-align: center;
}

